:root {
  --color-1: #111111;
  --color-2: #000000;
  --color-3: #0a0a0a;
  --color-4: #222222;
  --color-5: #333333;
  --color-6: #e1dfd6;
  --color-7: #e9e7e0;
  --color-8: #edebe4;
  --color-9: #edece6;
  --color-10: #e5e5e5;
  --color-11: #d7d5cc;
  --color-12: #e0e0e0;
  --color-13: #e5e3da;
  --color-14: #777777;
  --color-15: #7a7a7a;
  --color-16: #888888;
  --color-17: #9f9f9f;
  --color-18: #74642f;
  --color-19: #efeee8;
  --color-20: #e5e4de;
  --color-21: #c0c0c0;
  --color-22: #8c8c8c;
  --color-23: #eae8df;
  --color-24: #9a884c;
  --color-25: #94928b;
  --color-26: #ec7e18;
  --color-27: #ff9c00;
}
.main-navbar {
  transition: all 0.3s ease;
  background: rgba(1, 1, 1, 0.2);
  backdrop-filter: blur(6px);
  z-index: 1030;
}
.main-navbar.sticky-active {
  position: fixed;
  transform: scale(0.6);
  top: 0;
  left: 0;
  right: 0;
  background: rgba(1, 1, 1, 0.2);
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}
.main-navbar .logo {
  color: var(--color-10);
}
.main-navbar .nav-link.home-link {
  color: var(--color-24);
  font-weight: 600;
}
.main-navbar .nav-link:not(home-link),
.upper-nav-link {
  color: var(--color-10);
  transition: color 0.3s ease;
}
.main-navbar .nav-link:not(home-link):hover {
  color: var(--color-24);
}

/* dropdown menu overall box */
.dropdown-menu {
  border-radius: 10px;
  padding: 0.5rem 0;
  margin-top: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  min-width: 180px;
  transition: all 0.3s ease-in-out;
}
.dropdown-item {
  padding: 10px 20px;
  color: var(--color-10);
  transition: all 0.2s ease;
  border-radius: 5px;
}
.dropdown-item:hover {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}
