<div class="sidebar-header">
  <h5>BookNest</h5>
</div>
<ul class="sidebar-menu">
  <li class="nav-item">
    <a
      class="nav-link active"
      href="seller_dashboard-2.html"
      data-view="products"
      ><i class="fas fa-box"></i><span>Products</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="order.html" data-view="orders"
      ><i class="fas fa-shopping-cart"></i><span>Orders</span></a
    >
  </li>
</ul>

<div class="logout-section">
  <a href="#" class="btn btn-danger logout-btn" id="logout">
    <i class="fas fa-sign-out-alt"></i> Logout</a
  >
</div>
